* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: Inter, sans-serif;
  background-color: #282D35;
  color: white;
}


.logo {
  height: 7em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}


@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}


nav {
  display: flex;
  align-items: center;
  margin: 15px;
  background-color: black;
  color: #61DBFB;
  border-radius: 10px;

}

nav>span {
  font-size: 45px;
  cursor: pointer;
}

main {
  padding: 20px 30px;
}

main>h1 {
  margin: 0;
  font-size: 2.4rem;
}

.facts-list {
  margin-top: 46px;
  max-width: 400px;
}


.facts-list>li {
  padding-block: 8px;
  line-height: 19px;
}

.facts-list>li::marker {
  color: #61DAFB;
  font-size: 1.5rem;
}

footer {
  padding-left: 25px;
}